build*/
install*/
submit/
/bin
/lib
*~
*.a
*.cache
*.DS_Store
*.egg-info
*.exe
*.gch
*.lib
qt_*
*.o
*.pyc
*.so
*.swp
.eggs
.idea
Makefile
lib*.pc
.project
.python-version
.tox
.cproject
.vscode
build
_build
CMakeLists.txt.user
/VersionInfo*.cmake
Testing
